// RESULTS

.resultsWrapper {
  display: flex;
}

// DETAILS PANEL

.detailsPanel {
  border: 1px solid black;
  padding: 10px;

  align-self: start;
}

.detailsImg {
  width: 100%;
}

// PAGINATION

.pagination button.active {
  background-color: yellowgreen;
}
